.classpath
.project
.settings/
bin/

.idea/
*.iml
*.ipr
*.iws
out/

.gradle/
build/
gradle-app.setting
gradle-wrapper.jar
gradle-wrapper.properties

forge*changelog.txt
*.log
debug/

*.jar

.DS_Store
Thumbs.db
ehthumbs.db

*.swp
*.swo

run/
